.picture {
    height: 200px;
    width: 200px;
    margin-top: -8px;
    margin-bottom: 10px;
}

.clothing-box {
    border: solid black 1px;
    background-color: #efeeee;
    margin: 20px;
}

.btn-center {
    display: flex;
    justify-content: center;
}